<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="D:/Sakshi/CareerLearnings/SeleniumAutomation/src/test/java/com/SeleniumAutomation/testcases/TestMyAccount.java">
        <classes>
            <class name="com.SeleniumAutomation.testcases.TestMyAccount">
                <methods>
                    <include name="verifyRegistrationAndLogin"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>